<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		 <script>rel="JavaScrpit" href="/assets/burg.js"</script>
		
		
		
		<title>Create a Burger!</title>
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>