<header>
    <h1>Burger Log</h1>
    <form id="burgerCreate">
        <input type="text" name="burgerName">
        <button type="submit">Add Burger</button>
    </form>
    <p>Enter a burger you want to eat and click the "Add Burger" button</p>
</header>

<main>
    
    <section >
        <h1 class="burgerCategory">Burgers to Devour</h1>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <div class="freshBurger">
                        <li>{{burger_name}}</li>
                        <button class="burgerUpdate" type="submit" burger-id="{{id}}">Devour!</button>
                    </div>
                {{/unless}}
            {{/each}}
        </ul>
    </section>
    
  
    <section >
        <h1 >Burgers Devoured</h1>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <li><i ></i>{{burger_name}}</li>
                {{/if}}
            {{/each}}
        </ul>
    </section>

    <script type="text/javascript" src="/assets/burg.js"></script>
</main>